<div class="min-h-screen bg-[var(--cf-bg)]">
  <div class="px-7 pt-8">
    <h1 class="cf-headline text-[clamp(72px,13vw,120px)] mb-8">
      CREATE<br>YOUR PROFILE
    </h1>
    <div class="max-w-lg">
      <%= render "form", creator: @creator %>
    </div>
  </div>
</div>
